<nav>
	<button><a [routerLink]="['one']">No params on primary</a></button>
    <button><a [routerLink]="['one','fish']">fish on primary</a></button>
    <button><a [routerLink]="['one','dog']">dog on primary</a></button>
    <button><a [routerLink]="[{ outlets: { 'secondary': ['two','name'] } }]">name on outlet two</a></button>
    <button><a [routerLink]="[{ outlets: { 'secondary': ['two',name] } }]">foo on outlet two</a></button>
    <button><a [routerLink]="[{ outlets: { 'primary': ['one','hello'],'secondary': ['two','bye'] } }]">hello on primary, bye on outlet two</a></button>
    <button><a [routerLink]="[{ outlets: { 'primary': ['one'],'secondary': ['two'] } }]">nothing on both</a></button>

</nav>
<div style="border: 2px solid green; padding: 1rem;">
    <router-outlet></router-outlet>
</div>
<div style="border: 2px solid blue; padding: 1rem;">
	<router-outlet name="secondary"></router-outlet>
</div>

